@use '../_custom' as *;

#banner1 {
    .product_img {
        left: 10%;
        top: 14%;
        width: 55%;
    }
    
    .product_aloe {
        left: 11%;
        top: 81%;
        width: 40%;
    }
}
