@use '../_custom' as *;

.discount-container {
  color: $primary;
  
  .up-to {
    font-size: clamp(5em, 4vw, 7em);
    line-height: 1;
  }
  
  .percentage {
    font-size: clamp(10em, 15vw, 25em);
    font-weight: 300;
    line-height: .9;
  }
  
  .percent-sign {
    font-size: clamp(.5em, 4vw, .7em);
  }
  
  .aloe-vera-text {
    font-size: clamp(2em, 4vw, 3em); 
    line-height: 1.2;
    margin-top: 0.5em; 
    font-weight: 500;
    padding-left: 2em;
  }
}

.left-green-bar {
    background-color: $primary;
    width: 2em;
    height: 40%;
    border-radius: 0 1.5em 1.5em 0;
    position: absolute; 
    left: 0.75rem; 
    top: 0; 
    margin-top: 9.5em !important;
}