@use '../_custom' as *;

#description {
    .description_header{
        margin-top: 10em;
    }

    

    .header_button {
        padding: 1.2em 2.5em;
        background-color: $secondary-light;
        border-radius: .8em;
        display: inline-block;

        p {
            font-size: 1.8em;
            font-weight: 500;
            color: $secondary;
            margin: 0;
        }
    }

    .prosun_icon {
        position: absolute;
        bottom: 5%;
        left: 0;
        margin-left: 8%;
        width: 25%;
    }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
    .description_header {
        margin-top: 8rem !important;
    }
    .description_text {
        width: 45%;
    }
}

@media (min-width: map-get($grid-breakpoints, xxl)) {
    .description_header {
        margin-top: 10rem !important;
    }

    .description_text {
        width: 37%;
    }
}