@use '../_custom' as *;

#description {

    .description_header{
        @include media-breakpoint-up(lg) {
            width: 80%;
        }
    }

    .prosun_icon {
        position: absolute;
        bottom: 5%;
        left: 0;
        margin-left: 8%;
        width: 25%;
    }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
    .description_text {
        width: 45%;
    }
}

@media (min-width: map-get($grid-breakpoints, xxl)) {
    .description_text {
        width: 37%;
    }
}