@use '../_custom' as *;

#ingredients  {
    p {
        font-size: 12px;
    }
    @include media-breakpoint-up(md) {
        .ingredients_content {
            max-width: 70%;

            p { 
                font-size: 2em;
            }
        }
    }
}
