@use '../_custom' as *;

@include media-breakpoint-up(lg) {
    #safety {
        .card {
            border-bottom: 1px solid !important;
            border-radius: 0;
        }

        .col {
            width: 23%;
        }
    }
}
