$font-family-base: 'Roboto', sans-serif;

$primary: #0F7F25;
$secondary: #F38122;
$secondary-light: #FFF4EB;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 3.5,
  8: $spacer * 5,
  10: $spacer * 10
);

$container-max-widths: (
    ss: 400px,
    sm: 540px,
    ms: 640px,
    md: 750px,
    lg: 960px,
    xxl: 1300px
  );
  
  $grid-breakpoints: (
    xs: 0,
    ss: 420px,
    sm: 576px,
    ms: 645px,
    md: 768px,
    lg: 992px,
    xxl: 1350px
  );


@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$theme-colors: map-merge(
  $theme-colors,
  (
    "secondary-light": $secondary-light
  )
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";