@use 'custom' as *;

@use '_components';

@use 'sections/_banner1';
@use 'sections/_description';
@use 'sections/_info';
@use 'sections/_banner2';
@use 'sections/_banner3';
@use 'sections/_pros';
@use 'sections/_safety';
@use 'sections/_usage';

@media (min-width: 0px) {
    .product_description {
        width: 90%;
        font-size: .45em;
    }
}

@media (min-width: 767px) {
    .product_description {
        font-size: .5em;
    }
}

@media (min-width: 1400px) {
    .product_description {
        font-size: .6em;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $primary;
}